:root{
--primary-text-color: #757575;
--second-text-color: #212121;
--accent-text-color: #2196F3;
--white-text-color: #FFFFFF;
}

body {
    color: var(--second-text-color);
    background-color: var(--white-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
}

.navigator .accent {
    color: var(--accent-text-color);
}

.navigator .logo {
    color: var(--second-text-color);
    font-family: Raleway, cursive;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

.nav-list a {
    color: var(--second-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.nav-list .link:hover,
.nav-list .link:focus,
.nav-list .link:active{
    color: var(--accent-text-color);
}
.nav-list .studio:visited {
    color: var(--accent-text-color);
}
.nav-list .portfolio:visited {
    color: var(--accent-text-color);
}


.info-list a{
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.info-list .link:hover,
.info-list .link:focus {
    color: var(--accent-text-color);
}

.hero {background-color: #2F303A;
        text-align: center;
}

.hero-title {
    color: var(--white-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.work .text {
    color: var(--primary-text-color);
    line-height: 1.71;
}

.work .title,{
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;  
}

.web .title,
.team .title{
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}


.logo {
    color: var(--white-text-color);
} 

.team .name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
}

.team .profession{
    font-size: 16px;
    line-height: 1.2;
    color: var(--primary-text-color);
}

footer {
    background-color: #2F303A;
}

.navigator .type {
    color: var(--white-text-color);
    font-family: Raleway, cursive;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

.info-list .map{
    color: var(--white-text-color); 
}

.info-list .contacts {
    color: rgba(255, 255, 255, 0.6);
}

.list{
    list-style: none;
}

.rank .title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.work .none{
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

.address{
    font-style: normal;
}
.info-list .contacts:hover,
.info-list .contacts:focus {
    color: var(--white-text-color);
    cursor: pointer;
}

.portfolio .none{
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}
.card .title{
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
}

.card .description {
     font-size: 16px;
     line-height: 1.88;
     letter-spacing: 0.03em;
     color: var(--primary-text-color);
 }

.portfolio .all {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.63;
      text-align: center;
      background-color: #F5F4FA;
      font-family: inherit;
  }
.portfolio .all:hover,
.portfolio .all:focus{
    color: var(--white-text-color);
      background-color: var(--accent-text-color);
      cursor: pointer;
  }
  

  .portfolio .all:active {
      color: var(--accent-text-color);
  }
  .portfolio .web-link{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.63;
        text-align: center;
        background-color: #F5F4FA;
        font-family: inherit;
    }
.portfolio .web-link:hover,
.portfolio .web-link:focus {
            color: var(--white-text-color);
            background-color: var(--accent-text-color);
            cursor: pointer;
        }

          .portfolio .app {
              font-weight: 500;
              font-size: 16px;
              line-height: 1.63;
              text-align: center;
              background-color: #F5F4FA;
              font-family: inherit;
          }
                .portfolio .app:hover,
                .portfolio .app:focus {
                    color: var(--white-text-color);
                    background-color: var(--accent-text-color);
                    cursor: pointer;
                }
.portfolio .design {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    background-color: #F5F4FA;
    font-family: inherit;
}
                                .portfolio .design:hover,
                                .portfolio .design:focus {
                                    color: var(--white-text-color);
                                    background-color: var(--accent-text-color);
                                    cursor: pointer;
                                }

.portfolio .mark {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    background-color: #F5F4FA;
    font-family: inherit;
}
.portfolio .mark:hover,
.portfolio .mark:focus {
    color: var(--white-text-color);
    background-color: var(--accent-text-color);
    cursor: pointer;
}
.hero .order {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    background-color: var(--accent-text-color);
    color: var(--white-text-color);
    font-family: inherit;

}

.hero .order:hover,
button.hero .order:focus {
    background-color:var(--primary-text-color) ;
    cursor: pointer;
}

